.pageContainer {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
}

.mainText {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.main {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

/* ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/cocktailBackground.jpg") no-repeat center center / cover;
} */
